*, ::before, ::after {
    box-sizing: border-box;
}

/** Base style **/

body {
    background: linear-gradient(123deg, #FFFCAC 0%, #FFFFFF 67%), linear-gradient(180deg, #D8D8D8 0%, #6B0000 100%), linear-gradient(142deg, #F9F5F0 0%, #F9F5F0 33%, #F2EAD3 calc(33% + 1px), #F2EAD3 56%, #F4991A calc(56% + 1px), #F4991A 62%, #321313 calc(62% + 1px), #321313 100%);
    background-blend-mode: multiply, overlay, normal;
    border-left: 5px outset #fae8b281;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
    font-size: 60px;
    margin: 10% 7%;
    position: absolute;
    width: 300px;
}

h1, h2, #sr-only, figcaption, p {
    font-family: 'Kalam', cursive;
    text-align: center;
}

#piano {
    background-color: #006b58;
    border-radius: 10px;
    height: 290px;
    margin: 0px auto;
    padding: 90px 20px 0 20px;
    position: relative;
    width: 992px;
}
    .logo {
        color: #d3d92c;
        font-size: 22px;
        position: absolute;
        top: 23px;
        width: 500px;
    }
    .keys {
        background-color: #040404;
        height: 180px;
        overflow: hidden;
        padding-left: 2px;
        width: 949px;
    }
    .key {
        background-color: #ffffff;
        float: left;
        height: 175px;
        margin: 2px;
        position: relative;
        width: 41px;
    }
        .key.black--key::after {
            background-color: #1d1e22;
            content: "";
            height: 100px;
            left: -18px;
            position: absolute;
            width: 32px;
        }

        .key, .key.black--key::after {
            border-radius: 0 0 3px 3px;
        }

#sr-only {
    color: #ffffff00;
    margin: 0;
}

#gallery {
    display: flex;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0 4px;
}
    #gallery figure {
        margin: 10px;
    }

    #gallery figcaption {
        background-color: #56a4be;
        border: 1px solid black;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }

    #gallery img {
        background-color: #fae8b281;
        border-radius: 10px;
        height: 500px;
        margin-top: 8px;
        padding: 0 4px;
    }

/** Painting made in CSS**/

#canvas {
    background-color: rgb(184, 132, 46);
    border: 5px solid black;
    border-radius: 10px;
    height: 79%;
    margin: 1% 5%;
    position: absolute;
    width: 90%;
    z-index: -2;
}

#back-wall {
    background-color: #8B4513;
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#offwhite-character {
    width: 300px;
    height: 550px;
    background-color: GhostWhite;
    position: absolute;
    top: 20%;
    left: 17.5%;
}
    #white-hat {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 120px 140px 180px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: GhostWhite;
        border-left-color: transparent;
        position: absolute;
        top: -140px;
        left: 0;
    }
    #black-mask {
        width: 100%;
        height: 50px;
        background-color: rgb(45, 31, 19);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    #gray-instrument {
        background-color: rgb(167, 162, 117);
        height: 40%;
        width: 15%;
        position: absolute;
        top: 50px;
        left: 125px;
        z-index: 1;
    }
    .black-dot {
        width: 10px;
        height: 10px;
        background-color: rgb(45, 31, 19);
        border-radius: 50%;
        display: block;
        margin: auto;
        margin-top: 65%;
    }
    #tan-table {
        width: 450px;
        height: 140px;
        background-color: #D2691E;
        position: absolute;
        top: 275px;
        left: 15px;
        z-index: 1;
    }

#black-character {
    width: 300px;
    height: 500px;
    background-color: rgb(45, 31, 19);
    position: absolute;
    top: 30%;
    left: 59%;
}
    #black-hat {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 150px 0 0 300px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: rgb(45, 31, 19);
        position: absolute;
        top: -150px;
        left: 0;
    }
    #gray-mask {
        width: 150px;
        height: 150px;
        background-color: rgb(167, 162, 117);
        position: absolute;
        top: -10px;
        left: 70px;
    }
    #white-paper {
        width: 400px;
        height: 100px;
        background-color: GhostWhite;
        position: absolute;
        top: 250px;
        left: -150px;
        z-index: 1;
    }
    .fa-music {
        display: inline-block;
        margin-top: 8%;
        margin-left: 13%;
    }

.blue {
    background-color: #1E90FF;
}
    #blue-left {
        width: 500px;
        height: 300px;
        position: absolute;
        top: 20%;
        left: 20%;
    }
    #blue-right {
        width: 400px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 40%;
    }

#orange-character {
    width: 250px;
    height: 550px;
    background-color: rgb(240, 78, 42);
    position: absolute;
    top: 25%;
    left: 40%;
}
    #black-round-hat {
        width: 180px;
        height: 150px;
        background-color: rgb(45, 31, 19);
        border-radius: 50%;
        position: absolute;
        top: -100px;
        left: 5px;
        z-index: -1;
    }
    #eyes-div {
        width: 180px;
        height: 50px;
        position: absolute;
        top: -40px;
        left: 20px;
        z-index: 3;
    }
    #triangles {
        width: 250px;
        height: 550px;
    }
    .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 42px 45px 45px 0;
        border-top-color: transparent;
        border-right-color: Gold;
        border-bottom-color: transparent;
        border-left-color: transparent;
        display: inline-block;
    }
    #guitar {
        width: 100%;
        height: 100px;
        position: absolute;
        top: 120px;
        left: 0px;
        z-index: 3;
    }
    .guitar {
        width: 150px;
        height: 120px;
        background-color: Goldenrod;
        border-radius: 50%;
    }
    #guitar-left {
        position: absolute;
        left: 0px;
    }
      
      #guitar-right {
        position: absolute;
        left: 100px;
    }
    .fa-bars {
        display: block;
        margin-top: 30%;
        margin-left: 40%;
    }
    #guitar-neck {
        width: 200px;
        height: 30px;
        background-color: #D2691E;
        position: absolute;
        top: 45px;
        left: 200px;
        z-index: 3;
    }

.eyes {
    width: 35px;
    height: 20px;
    background-color: #8B4513;
    border-radius: 20px 50%;
}
    .right {
        position: absolute;
        top: 15px;
        right: 30px;
    } 
    .left {
        position: absolute;
        top: 15px;
        left: 30px;
    }

.fas {
    font-size: 30px;
}

@media (max-width: 1500px) {
    h1 {
        margin: auto;
        position: relative;
    }
}

@media (min-width: 769px) and (max-width: 1199px) {
    #piano {
        width: 675px;
    }
    .keys {
        width: 633px;
    }
}

@media (max-width: 768px) {
   #piano {
       width: 358px;
   } 
   .keys {
       width: 318px;
   }
   .logo {
       font-size: 16px;
       width: 150px;
   }
}